h1 {
    margin-top: 20px;
    color: green;
    text-align: center;
    font-weight:bold;
    text-transform: capitalize;
    text-decoration:none;
}

ul{
    display: block;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 400px;

}
h2 {
    text-align: center;
}